In [1]:
import pandas as pd
sales=pd.read_csv("https://raw.githubusercontent.com/Adarsh09052000/demo-csv/main/raw_data.csv")

In [2]:
sales

,brcode,tran_type,d_date,tran_month,item_code,qty,day,month,year,quarter,week,day_type
0,109,Sale,2016-04-01,April,319048,4.0,1,4,2016,1.0,13,weekday
1,3,Sale,2016-04-01,April,201975,6.0,1,4,2016,1.0,13,weekday
2,109,Sale,2016-04-01,April,208501,6.0,1,4,2016,1.0,13,weekday
3,3,Sale,2016-04-01,April,208501,9.0,1,4,2016,1.0,13,weekday
4,109,Sale,2016-04-01,April,208501,1.0,1,4,2016,1.0,13,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...
64860,109,Sale,2018-05-30,May,310183,1.0,30,5,2018,1.0,21,weekday
64861,3,Sale,2018-05-30,May,233539,1.0,30,5,2018,1.0,21,weekday
64862,3,Sale,2018-05-30,May,208501,11.0,30,5,2018,1.0,21,weekday
64863,3,Sale,2018-05-30,May,206115,1.0,30,5,2018,1.0,21,weekday
64864,109,Sale,2018-05-30,May,326899,20.0,30,5,2018,1.0,21,weekday

In [3]:
sales = sales.drop(['tran_type', 'tran_month', 'd_date','year', 'day_type', 'day','quarter','week'],axis='columns')
sales.shape

(64865, 4)

In [4]:
sales = pd.DataFrame(
sales.groupby([sales['brcode'],sales["item_code"], sales["month"]])[
        'qty'].sum())
sales = sales.reset_index()  # reset the index

In [5]:
sales

     brcode  item_code  month     qty
0         3     201975      1  3093.0
1         3     201975      2  2469.0
2         3     201975      3  2774.0
3         3     201975      4  4709.0
4         3     201975      5  4301.0
..      ...        ...    ...     ...
340     109     326899      8   538.0
341     109     326899      9   357.0
342     109     326899     10   482.0
343     109     326899     11   210.0
344     109     326899     12   123.0

[345 rows x 4 columns]

In [6]:
X = sales.drop(['qty'],axis='columns')
y = sales['qty']

In [7]:
X

     brcode  item_code  month
0         3     201975      1
1         3     201975      2
2         3     201975      3
3         3     201975      4
4         3     201975      5
..      ...        ...    ...
340     109     326899      8
341     109     326899      9
342     109     326899     10
343     109     326899     11
344     109     326899     12

[345 rows x 3 columns]

In [8]:
y

0      3093.0
1      2469.0
2      2774.0
3      4709.0
4      4301.0
        ...
340     538.0
341     357.0
342     482.0
343     210.0
344     123.0
Name: qty, Length: 345, dtype: float64

In [9]:
scalable_variable = 'qty'
mini_train, maxi_train = sales[scalable_variable].min(), sales[scalable_variable].max()
sales.loc[:, scalable_variable] = (sales[scalable_variable] - mini_train) / (
            maxi_train - mini_train)

In [10]:
mini_test, maxi_test = sales[scalable_variable].min(), sales[scalable_variable].max()
sales.loc[:, scalable_variable] = (sales[scalable_variable] - mini_test) / (maxi_test - mini_test)

In [11]:
y

0      0.182959
1      0.146036
2      0.164083
3      0.278580
4      0.254438
         ...
340    0.031775
341    0.021065
342    0.028462
343    0.012367
344    0.007219
Name: qty, Length: 345, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.75,test_size=0.25,random_state=None)

In [13]:
from xgboost import XGBRegressor

In [14]:
lr = XGBRegressor(max_depth=5)
lr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=5,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [15]:
y_pred = lr.predict(X_test)

In [16]:
y_pred

array([-5.04553318e-04,  5.24258614e-03,  3.75524163e-03,  8.70537758e-03,
        7.25084543e-03, -2.86626816e-03,  4.98282909e-03,  2.01465487e-02,
        7.54812360e-03,  5.59912920e-02,  8.30812156e-01,  1.59857571e-02,
        6.96801841e-02,  2.87749171e-02,  1.49207711e-01,  4.01441455e-02,
        2.35668123e-02,  1.89256430e-01,  5.59225678e-03,  1.09596938e-01,
        6.79132342e-03,  2.19903976e-01,  5.12699127e-01,  9.12504196e-02,
        1.08785033e-02,  2.86019146e-02,  3.95077467e-03,  1.64456964e-02,
        1.52483582e-02,  1.41945451e-01,  1.02612376e-03, -5.63144684e-04,
        5.38697839e-03,  2.45310396e-01,  6.47336245e-04,  1.34469569e-02,
        5.26209772e-02,  6.79010153e-03,  7.70658255e-04,  1.23065710e-03,
        1.25985235e-01,  5.22257388e-02,  8.74465704e-03,  2.27219045e-01,
        1.46600604e-02, -3.91781330e-04, -1.54205561e-02,  5.58438897e-02,
        7.06752419e-01,  4.99218702e-04,  5.20291030e-02,  9.73935366e-01,
        5.28928041e-02,  1.26709044e-02,  1.78605318e-03,  1.17972493e-03,
        1.18593872e-02,  1.74029768e-02,  9.48032379e-01,  1.75706148e-02,
        1.64299607e-02,  2.28208303e-03,  9.23216343e-03,  2.37097949e-01,
        1.83025301e-02,  1.36083961e-02,  4.11519408e-03,  5.74362278e-03,
        4.87207770e-02,  1.49854720e-02,  2.22102284e-01,  1.04383975e-01,
        1.60136521e-02,  2.15177923e-01,  9.64060426e-03,  1.02612376e-03,
        4.31853533e-03,  8.65897536e-03,  2.85187364e-03,  1.34530663e-03,
        1.04669034e-02,  1.59891546e-02, -5.63144684e-04,  1.71841115e-01,
        8.25891495e-02,  5.28058410e-03,  5.58555126e-04], dtype=float32)

In [17]:
import numpy as np
from sklearn import metrics
from sklearn.metrics import mean_squared_error, r2_score, median_absolute_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mse_lr = round(metrics.mean_squared_error(y_test, y_pred), 4) 
print("Monthly Forecasting")
print("RMSE: %f" % rmse)
r2 = r2_score(y_test,y_pred)
print("R2: %f" %r2)

Monthly Forecasting
RMSE: 0.065656
R2: 0.879602

In [18]:
mse_lr

0.0043

In [19]:
mae_lr = round(metrics.mean_absolute_error(y_test, y_pred), 4) 
mae_lr

0.0205

In [20]:
def predict_qty(brcode,item_code,month):
    dict_data={'brcode':[brcode],'item_code':[item_code],'month':[month],}
    data=pd.DataFrame.from_dict(dict_data)
    a=lr.predict(data)
    a=a.tolist()[0]
    scalable_variable = 'qty'
    y = a*(maxi_train - mini_train) + mini_train
    return round(y)

In [21]:
X.columns

Index(['brcode', 'item_code', 'month'], dtype='object')

In [25]:
a=predict_qty(3,201975,1)
a

3065

In [23]:
import pickle
with open("gui.pickle",'wb') as f:
    pickle.dump(lr,f)
with open("max.pickle",'wb') as f1:
    pickle.dump(maxi_train,f1)
with open("mini.pickle",'wb') as f2:
    pickle.dump(mini_train,f2)

In [24]:
import json
columns = {
    'data_columns' : [col.lower() for col in X]
}
with open("salescolumn.json","w") as f:
    f.write(json.dumps(columns))