In [ ]:
import pandas as pd
import numpy as np
sales=pd.read_csv("https://raw.githubusercontent.com/Adarsh09052000/demo-csv/main/raw_data.csv")

In [5]:
sales

,brcode,tran_type,d_date,tran_month,item_code,qty,day,month,year,quarter,week,day_type
0,109,Sale,2016-04-01,April,319048,4.0,1,4,2016,1.0,13,weekday
1,3,Sale,2016-04-01,April,201975,6.0,1,4,2016,1.0,13,weekday
2,109,Sale,2016-04-01,April,208501,6.0,1,4,2016,1.0,13,weekday
3,3,Sale,2016-04-01,April,208501,9.0,1,4,2016,1.0,13,weekday
4,109,Sale,2016-04-01,April,208501,1.0,1,4,2016,1.0,13,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...
64860,109,Sale,2018-05-30,May,310183,1.0,30,5,2018,1.0,21,weekday
64861,3,Sale,2018-05-30,May,233539,1.0,30,5,2018,1.0,21,weekday
64862,3,Sale,2018-05-30,May,208501,11.0,30,5,2018,1.0,21,weekday
64863,3,Sale,2018-05-30,May,206115,1.0,30,5,2018,1.0,21,weekday
64864,109,Sale,2018-05-30,May,326899,20.0,30,5,2018,1.0,21,weekday

In [6]:
sales = sales.drop(['tran_type', 'tran_month', 'd_date','year', 'day_type', 'day','quarter','week'],axis='columns')
sales.shape

(64865, 4)

In [7]:
sales = pd.DataFrame(
sales.groupby([sales['brcode'],sales["item_code"], sales["month"]])[
        'qty'].sum())
sales = sales.reset_index()  # reset the index

In [8]:
sales

     brcode  item_code  month     qty
0         3     201975      1  3093.0
1         3     201975      2  2469.0
2         3     201975      3  2774.0
3         3     201975      4  4709.0
4         3     201975      5  4301.0
..      ...        ...    ...     ...
340     109     326899      8   538.0
341     109     326899      9   357.0
342     109     326899     10   482.0
343     109     326899     11   210.0
344     109     326899     12   123.0

[345 rows x 4 columns]

In [9]:
X = sales.drop(['qty'],axis='columns')
y = sales['qty']

In [10]:
X

     brcode  item_code  month
0         3     201975      1
1         3     201975      2
2         3     201975      3
3         3     201975      4
4         3     201975      5
..      ...        ...    ...
340     109     326899      8
341     109     326899      9
342     109     326899     10
343     109     326899     11
344     109     326899     12

[345 rows x 3 columns]

In [11]:
y

0      3093.0
1      2469.0
2      2774.0
3      4709.0
4      4301.0
        ...
340     538.0
341     357.0
342     482.0
343     210.0
344     123.0
Name: qty, Length: 345, dtype: float64

In [12]:
scalable_variable = 'qty'
mini_train, maxi_train = sales[scalable_variable].min(), sales[scalable_variable].max()
sales.loc[:, scalable_variable] = (sales[scalable_variable] - mini_train) / (
            maxi_train - mini_train)

In [13]:
mini_test, maxi_test = sales[scalable_variable].min(), sales[scalable_variable].max()
sales.loc[:, scalable_variable] = (sales[scalable_variable] - mini_test) / (maxi_test - mini_test)

In [14]:
y

0      0.182959
1      0.146036
2      0.164083
3      0.278580
4      0.254438
         ...
340    0.031775
341    0.021065
342    0.028462
343    0.012367
344    0.007219
Name: qty, Length: 345, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.75,test_size=0.25,random_state=None)

In [16]:
from xgboost import XGBRegressor

In [17]:
lr = XGBRegressor(max_depth=5)
lr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=5,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [18]:
y_pred = lr.predict(X_test)

In [19]:
y_pred

array([ 1.48651600e-02,  2.13217735e-03,  1.10330284e-02,  9.76377726e-03,
        2.16175646e-01,  7.56314397e-03,  1.32201016e-02,  7.10755587e-04,
        4.45994735e-03, -6.08861446e-04, -5.76186180e-03,  5.95396757e-03,
        4.12088633e-03,  3.03916037e-02,  7.38204718e-02,  5.25067449e-02,
        1.02948844e-02,  1.40088558e-01,  2.32094884e-01, -1.42037868e-04,
        8.61310959e-03,  8.38888586e-02,  5.55704236e-02,  1.15432739e-02,
       -9.34159756e-03,  4.93817627e-02,  3.12587619e-03,  9.55368161e-01,
        2.03162134e-02,  3.37037444e-03,  2.74167359e-02,  1.82547301e-01,
        1.97048992e-01,  4.09361720e-03,  2.06401944e-01,  9.88808393e-01,
       -8.47935677e-04,  7.91717231e-01,  5.87009788e-02,  1.14792943e-01,
        5.44255972e-03,  1.85815990e-02,  8.85572553e-01,  3.89268994e-03,
        1.50349140e-01,  1.19740665e-02,  6.72996044e-03,  3.07080150e-03,
        7.72165060e-02,  6.66004419e-03,  1.32354885e-01,  6.08003139e-03,
        1.77876353e-02,  2.37670541e-03,  1.20475590e-02,  4.27085161e-03,
        1.62225962e-03,  1.99516416e-02,  2.03006923e-01,  1.04832351e-02,
        9.90134478e-03,  9.68529880e-02,  2.47813433e-01,  1.10918283e-02,
        2.01885998e-02,  1.39557123e-02,  4.70191240e-03,  8.64394605e-01,
        8.85116816e-01,  1.23297870e-02,  6.39858842e-03,  2.10243464e-03,
        9.49311256e-03,  1.46400928e-03,  5.19019365e-03,  6.73721671e-01,
        1.12776458e-02,  1.87427700e-02,  1.32796168e-03,  1.26428306e-01,
        5.00157475e-03,  9.41008329e-03,  1.04049742e-02,  1.50780082e-02,
        1.32090151e-02,  4.76065278e-03,  8.06173682e-03], dtype=float32)

In [20]:
XGboost = round(lr.score(X_test, y_test), 2)

In [21]:
XGboost

0.87

In [22]:
import numpy as np
from sklearn import metrics
from sklearn.metrics import mean_squared_error, r2_score, median_absolute_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mse_lr = round(metrics.mean_squared_error(y_test, y_pred), 4) 
print("Monthly Forecasting")
print("RMSE: %f" % rmse)
r2 = r2_score(y_test,y_pred)
print("R2: %f" %r2)

Monthly Forecasting
RMSE: 0.073816
R2: 0.871446

In [23]:
mse_lr

0.0054

In [24]:
mae_lr = round(metrics.mean_absolute_error(y_test, y_pred), 4) 
mae_lr

0.0249

In [25]:
def predict_qty(brcode,item_code,month):
    dict_data={'brcode':[brcode],'item_code':[item_code],'month':[month],}
    data=pd.DataFrame.from_dict(dict_data)
    a=lr.predict(data)
    a=a.tolist()[0]
    scalable_variable = 'qty'
    y = a*(maxi_train - mini_train) + mini_train
    return round(y)

In [26]:
X.columns

Index(['brcode', 'item_code', 'month'], dtype='object')

In [27]:
a=predict_qty(3,201975,4)
a

4189

In [28]:
import pickle
with open("gui.pickle",'wb') as f:
    pickle.dump(lr,f)

In [29]:
import json
columns = {
    'data_columns' : [col.lower() for col in X]
}
with open("salescolumn.json","w") as f:
    f.write(json.dumps(columns))